<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mio.jrdv.ezbackandhome">
    //permisos
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    //MODE INFINTE NO RQUIERE NUEVOS PERMISOS!!!


</manifest>